// color
@mixin font_color($color) {
  color: $color;
  [data-theme="orange"] & {
    color: $theme-orange;
  }
}

@mixin font_one_color($color) {
  color: $theme-default-7;
  [data-theme="orange"] & {
    color: $theme-orange;
  }
}

// backgroundColor
@mixin background_color($color) {
  background-color: $color;
  [data-theme="orange"] & {
    background-color: $theme-orange;
  }
}

@mixin background_two_color($color) {
  background-color: $color;
  [data-theme="orange"] & {
    background-color: $theme-orange;
  }
}

// backgroundColor 2
@mixin background_color_second($color) {
  background-color: $color;
  [data-theme="orange"] & {
    background-color: $theme-orange-2;
  }
}

// background gradient
@mixin background($color) {
  background: $color;
  [data-theme="orange"] & {
    background: $theme-orange;
  }
}

// borderColor
@mixin border_color($color) {
  border-color: $color;
  [data-theme="orange"] & {
    border-color: $theme-orange;
  }
}

// borderBottomColor
@mixin border_bottom_color($color) {
  border-bottom-color: $color;
  [data-theme="orange"] & {
    border-bottom-color: $theme-orange;
  }
}

