$theme-default: #333333 !default;
$theme-default-2: #e8e1f5 !default;
$theme-default-3: #ddd4ee !default;
$theme-default-4: #f9f6ff !default;
$theme-default-5: #9778CE  !default;
$theme-default-6: #FBBC00  !default;
$theme-default-7: #2D405E  !default;

$theme-orange: #f49556 !default;
$theme-orange-2: #faeadf !default;
$theme-orange-3: #f7dcc9 !default;
$theme-orange-4: #faf3ee !default;
$theme-orange-5: #F2BB97 !default;

$theme-gradient: linear-gradient(270deg,rgba(126,101,170,1) 0%,rgba(147,126,225,1) 100%) !default;
$theme-title: linear-gradient(90deg, #5eb0e9 0%, #4533a8 100%) !default;
$theme-select: linear-gradient(93deg, #5eb0e9 0%, #4533a8 100%) !default;
$theme-main: #4533a8;
$theme-buttom: #4b69bc;